*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*******************\
* 					*
*	   ARTICLE		*
*					*
\*******************/

.top-article {
	background: #FFEFF3;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 5rem;
	font-size: 0.7rem;
	font-weight: bold;
	font-family:sans;
	color: #383838;
}

.country-icon img{
	width: 13px;
}

.top-article .bi{
	font-size: 0.8rem;
	cursor: pointer;
}

.top-article .info {
	display: flex;
	gap: 1rem;
}

.dropdown-menu-container {
	display: flex;
	gap: 1.8rem;
}

.dropdown-menu-container div {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	cursor: pointer;
}

.social-media-icons {
	display: flex;
	gap: 1rem;
}

/*******************\
* 					*
*	   HEADER		*
*					*
\*******************/

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.8rem 4rem;
	color: #1A1A1A;
	font-family: sans-serif;
	letter-spacing: -0.8px;
}

.logo {
	font-size: 1.3rem;
	font-weight: bold;
	font-size: 1.5rem;
}

.main-nav {
	display: flex;
	gap: 1.5rem;
	font-size: 1rem;
}

.secondary-nav {
	display: flex;
	gap: 1rem;
}

.info-article {
	background: #1F1F1F;
	color: white;
	text-align: center;
	padding: 0.85rem;
	font-size: 0.8rem;
	font-weight: bold;
}

.bi-cart3 {
	position: relative;
}

.cart-count {
	position: absolute;
	top: -5px;
	right: -7px;
	font-size: 0.5rem;
	display: inline-block;
	width: 12px;
	height: 12px;
	background: red;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	border-radius: 50px;
	user-select: none;
}

.bi-lightning-charge-fill {
	color: gold;
}

/*******************\
* 					*
*	   	MAIN		*
*					*
\*******************/

main {
	margin-top: 1rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	font-family: sans-serif;
}

.fashion-card {
	height: 40rem;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	gap: 2rem;
	font-size: 3rem;
	font-weight: bold;
	cursor: pointer;
}

.card-title {
	margin-top: 14rem;
}

.women {
	background-image: url('https://raw.githubusercontent.com/bugsdev2/shopper/c0936d584c1fdc2ebfe3db0675cba495e078f8f0/public/images/women-fashion.jpeg');
	background-image: url('/public/images/women-fashion.jpeg');
	background-size: cover;
	background-position: center;
}

.men {
	background-image: url('https://raw.githubusercontent.com/bugsdev2/shopper/c0936d584c1fdc2ebfe3db0675cba495e078f8f0/public/images/men-fashion.jpg');
	background-image: url('/public/images/men-fashion.jpg');
	background-size: cover;
	background-position: center;
}
.kids {
	background-image: url('https://raw.githubusercontent.com/bugsdev2/shopper/c0936d584c1fdc2ebfe3db0675cba495e078f8f0/public/images/kids-fashion.jpg');
	background-image: url('/public/images/kids-fashion.jpg');
	background-size: cover;
	background-position: center;
}

.fashion-card button {
	background: white;
	border: none;
	padding: 15px 30px;
	cursor: pointer;
}


/*******************\
* 					*
*	   FOOTER		*
*					*
\*******************/

footer {
	background: #1F1F1F;
	color: #FFFFFF;
	font-family: sans-serif;
}

footer .top {
	display: flex;
	justify-content: center;
	padding-top: 8rem;
	padding-bottom: 4rem;
	text-align:center;
}

.top .footer-title {
	font-size: 1.5rem;
}

.top input {
	background: #303030;
	margin-top: 2rem;
	border: none;
	color: white;
	padding: 1rem 2rem;
	height: 4rem;
	width: 30rem;
	font-size: 1.2rem;
}

.top input:focus {
	border: none;
	outline: none;
}

.top button {
	background: #525252;
	padding: 1rem 2rem;
	height: 4rem;
	font-size: 1.2rem;
	border: none;
	color: white;
	margin-left: 0.8rem;
}	

footer .bottom {
	padding: 2rem 10rem;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 1.5rem;
	border-bottom: 1px solid #383838;
}

footer .brand-title {
	text-align: left;
}

footer .shopper {
	font-size: 1.5rem;
	font-weight: bold;
}

footer .social-media {
	margin-top: 1.5rem;
	display: flex;
	gap: 0.8rem;
	color: #A6A6A6;
}

footer span {
	font-weight: bold;
	font-size: 0.8rem;
}

footer li {
	list-style: none;
	margin-top:0.5rem;
	color: #A6A6A6;
	font-size: 0.8rem;
}

footer .copyright {
	display: inline-block;
	font-weight: normal;
	padding: 2rem 10rem;
	color: #A6A6A6;
	font-size: 0.7rem;
}































